// Microsoft Visual C++ generated resource script.
//
#pragma code_page(65001)

#include "resource.h"
#include <windows.h>

/////////////////////////////////////////////////////////////////////////////
// Inglese (neutro) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,9,0
 PRODUCTVERSION 1,6,7,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000904b0"
        BEGIN
            VALUE "CompanyName", "Tomb Engine Development Community"
            VALUE "FileVersion", "1.0.9.0"
            VALUE "InternalName", "TombEngine.exe"
            VALUE "LegalCopyright", "Copyright (c) 2023"
            VALUE "OriginalFilename", "TombEngine.exe"
            VALUE "ProductName", "Tomb Engine"
            VALUE "ProductVersion", "1.6.7.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x9, 1200
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON1               ICON                    "ten.ico"


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_SETUP DIALOGEX 0, 0, 335, 209
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "TombEngine"
FONT 8, "Segoe UI", 400, 0, 0xCC
BEGIN
    COMBOBOX        IDC_GFXADAPTER,15,19,308,71,CBS_DROPDOWNLIST | WS_TABSTOP
    COMBOBOX        IDC_RESOLUTION,21,57,117,84,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "TXT_Windowed",IDC_WINDOWED,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,21,69,115,10
    CONTROL         "TXT Shadows",IDC_SHADOWS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,155,57,159,10
    CONTROL         "TXT Caustics",IDC_CAUSTICS,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,155,69,160,10
    CONTROL         "TXT Antialiasing",IDC_ANTIALIASING,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,155,93,160,10
    GROUPBOX        "Txt_Sound",IDC_GROUP_SOUND,7,151,320,33
    CONTROL         "TXT_Enable",IDC_ENABLE_SOUNDS,"Button",BS_AUTOCHECKBOX | BS_LEFTTEXT | WS_TABSTOP,254,150,67,10
    COMBOBOX        IDC_SNDADAPTER,13,164,308,71,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "OK",IDOK,109,189,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,175,189,50,14
    GROUPBOX        "Txt_GraphicsAdapter",IDC_GROUP_GFXADAPTER,7,7,320,26
    GROUPBOX        "Txt_OutputSettings",IDC_GROUP_OUTPUT_SETTINGS,7,37,320,108
    GROUPBOX        "TXT_Resolution",IDC_GROUP_RESOLUTION,15,45,128,65
    GROUPBOX        "TXT_Render Options",IDC_GROUP_RENDER_OPTIONS,148,45,173,95
    CONTROL         "TXT HDR",IDC_HDR,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,155,106,160,10
    CONTROL         "TXT Volumetric fog",IDC_VOLUMEFOG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,155,81,160,10
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_SETUP, DIALOG
    BEGIN
        RIGHTMARGIN, 334
        VERTGUIDE, 7
        VERTGUIDE, 15
        VERTGUIDE, 21
        VERTGUIDE, 148
        VERTGUIDE, 155
        HORZGUIDE, 45
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

IDD_SETUP AFX_DIALOG_LAYOUT
BEGIN
    0
END

#endif    // Inglese (neutro) resources
/////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////
// Italiano (Italia) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ITA)
LANGUAGE LANG_ITALIAN, SUBLANG_ITALIAN

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

#endif    // Italiano (Italia) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

