Build/audio
Build/data
Build/movie
Build/screens
Build/TR5Main.pdb
Build/TR5Main.lib
Build/TR5Main.ilk
Build/TR5Main.exp
TR5Main/CustomObjects/
TR5Main/x64/
TR5Main/Debug/
x64/
.vs/
*.dll
*.dmp
*.id0
*.id1
*.id2
*.id3
*.obj
*.zip
*.db
*.opendb
.exp
.pdb
.ilk
*.wav
*.trc
*.str
